<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
  <h1>首页</h1>
    <a th:href="@{/user}">查询所有用户信息</a> <br>
    <a th:href="@{/user/1}">查询某个id的用户信息</a> <br>
    <form th:action="@{user}" method="post">
        <input type="submit" value="添加">
    </form>
    <br>
    <form th:action="@{/user}" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="修改用户信息">
    </form>
    <br>
      <form th:action="@{/user/1}" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="删除用户id为1的用户">
      </form>
      <br>

    <hr>

    <a th:href="@{/employee}">查询所有用户信息</a>


</body>
</html>